body {
background:rgb(252, 255, 249);
}

#titulo1 {
 text-align: center;
 font-size:50px;
  color:rgb(0, 255, 208);}


  p{
    text-align:justify;
    font: size 20px;
    color:color(srgb rgb(19, 3, 247) rgb(4, 96, 245) rgb(4, 4, 225));}
  
  #imag{
    display: block;
    margin:0 auto;
  }

 #titulo2{
    text-align:center;
    font-size:30px;
    color:rgb(8, 241, 225)
 }

 .ul{
   display: inline-block;
   vertical-align: top;
   width:20%;
   margin-right: 15%;
   font-size: 20px;

 }


 #img2{
 width:50%;

 }

 header{
  text-align:center;
  font-size: 50px;
  color:rgb(182, 21, 182);

 }

 .principal{
  background:rgb(246, 243, 243);}

.beneficios{ 
  background:rgb(248, 248, 249);}































