body {
background:rgb(252, 255, 249);
}

#titulo1 {
 text-align: center;
 font-size:50px;
  color:rgb(255, 21, 173), 0.548);}


  p{
    text-align:justify;
    font: size 20px;
    color:color(srgb rgb(16, 8, 129) rgb(0, 49, 128) rgb(7, 7, 108))
  }





































